<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="TheStudentGame" packages="">
        <Appenders>

            <!-- Logs into console. -->
            <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="%style{%date{DEFAULT}}{yellow}
            [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %logger{36} - %msg\n"/>
            </Console>

            <!-- Logs the current Run into a File -->
            <File name="FileLast"
                  fileName="gamefiles/logs/GeneralAll.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains all Network Traffic-->
            <File name="AllTraffic"
                  fileName="gamefiles/logs/NetworkAllTraffic.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains all Network Traffic excluding pings -->
            <File name="TrafficNoPing"
                  fileName="gamefiles/logs/NetworkAllNoPing.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains all server Traffic excluding pings -->
            <File name="ServerTraffic"
                  fileName="gamefiles/logs/ServerTraffic.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains all server Traffic excluding pings -->
            <File name="ServerTrafficNoPing"
                  fileName="gamefiles/logs/ServerTrafficNoPing.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains all client Traffic excluding pings -->
            <File name="ClientTraffic"
                  fileName="gamefiles/logs/ClientTraffic.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains all client Traffic excluding pings -->
            <File name="ClientTrafficNoPing"
                  fileName="gamefiles/logs/ClientTrafficNoPing.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File contains game-state logs -->
            <File name="Game"
                  fileName="gamefiles/logs/Gamelogic.log" immediateFlush="true" append="false">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
            </File>

            <!-- This File is not overwritten when the program is reset/restarted -->
            <RollingFile name="FileContinuous"
                         fileName="gamefiles/logs/GeneralContinuous.log"
                         filePattern="${APP_LOG_ROOT}/appName-%d{yyyy-MM-dd}-%i.log.gz">
                <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
                <Policies>
                    <SizeBasedTriggeringPolicy size="19500KB"/>
                </Policies>
            </RollingFile>

        </Appenders>


        <Loggers>
            <!-- Root Logger, it logs just everything -->
            <Root level="all">
                <AppenderRef ref="Console" level="warn"/>
                <AppenderRef ref="FileLast" level="trace"/>
                <AppenderRef ref="FileContinuous" level="trace"/>
            </Root>

            <!-- Traffic Logger to be used to log server traffic -->
            <Logger name="ServerTraffic" level="all" additivity="true">
                <AppenderRef ref="AllTraffic" level="trace"/>
                <AppenderRef ref="ServerTraffic" level="trace"/>
            </Logger>

            <!-- Traffic Logger to be used to log server traffic but without pings -->
            <Logger name="ServerTrafficNoPing" level="all" additivity="true">
                <AppenderRef ref="TrafficNoPing" level="trace"/>
                <AppenderRef ref="ServerTrafficNoPing" level="trace"/>
            </Logger>

            <!-- Traffic Logger to be used to log client traffic -->
            <Logger name="ClientTraffic" level="all" additivity="true">
                <AppenderRef ref="AllTraffic" level="trace"/>
                <AppenderRef ref="ClientTraffic" level="trace"/>
            </Logger>

            <!-- Traffic Logger to be used to log client traffic but without pings -->
            <Logger name="ClientTrafficNoPing" level="all" additivity="true">
                <AppenderRef ref="TrafficNoPing" level="trace"/>
                <AppenderRef ref="ClientTrafficNoPing" level="trace"/>
            </Logger>

            <!-- Gamelogic Logger that logs what is happening in the game. -->
            <Logger name="Game" level="all" additivity="true">
                <AppenderRef ref="Game" level="trace"/>
            </Logger>


        </Loggers>

    </Configuration>