/*
.root {
    -fx-background-color: #FFEBCD;
    -fx-resize: none;
}

.label {
    -fx-background-color: #ab8e44;
}

.button {
    -fx-background-color: #3d899f;
}

.tool-bar {
    -fx-background-color: #c59696;
}

.text-field {
    -fx-background-color: rgba(0, 0, 0, 0.37);
}
*/
